<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thunisoft.dao.ApplicationReiewMapper" >
  <resultMap id="BaseResultMap" type="com.thunisoft.pojo.ApplicationReiew" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
    <result column="audit_optnion" property="auditOptnion" jdbcType="VARCHAR" />
    <result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
    <result column="master_id" property="masterId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, applicant, reason, status, reviewer, audit_optnion, review_time, master_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_application_reiew
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_application_reiew
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thunisoft.pojo.ApplicationReiew" >
    insert into t_application_reiew (id, applicant, reason, 
      status, reviewer, audit_optnion, 
      review_time, master_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{applicant,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{reviewer,jdbcType=VARCHAR}, #{auditOptnion,jdbcType=VARCHAR}, 
      #{reviewTime,jdbcType=TIMESTAMP}, #{masterId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.thunisoft.pojo.ApplicationReiew" >
    insert into t_application_reiew
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reviewer != null" >
        reviewer,
      </if>
      <if test="auditOptnion != null" >
        audit_optnion,
      </if>
      <if test="reviewTime != null" >
        review_time,
      </if>
      <if test="masterId != null" >
        master_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reviewer != null" >
        #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="auditOptnion != null" >
        #{auditOptnion,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thunisoft.pojo.ApplicationReiew" >
    update t_application_reiew
    <set >
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reviewer != null" >
        reviewer = #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="auditOptnion != null" >
        audit_optnion = #{auditOptnion,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="masterId != null" >
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thunisoft.pojo.ApplicationReiew" >
    update t_application_reiew
    set applicant = #{applicant,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      reviewer = #{reviewer,jdbcType=VARCHAR},
      audit_optnion = #{auditOptnion,jdbcType=VARCHAR},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      master_id = #{masterId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>