<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thunisoft.dao.MasterContentMapper">
  <resultMap id="BaseResultMap" type="com.thunisoft.pojo.MasterContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="content_name" jdbcType="VARCHAR" property="contentName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="effect" jdbcType="INTEGER" property="effect" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />

    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_id, code, content_name, description, effect, creator, create_time, update_time
  </sql>
  <select id="findMasterContent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT mc.id, mc.menu_id, mc.code, mc.content_name, mc.description, mc.effect, mc.creator, mc.create_time, mc.update_time,ar.status
     FROM master_data.t_master_content mc LEFT JOIN master_data.t_application_reiew ar ON mc.id=ar.master_id
     where mc.menu_id=#{menuId,jdbcType=INTEGER}
     order by mc.id
     limit #{limit} offset #{limit}*(#{page}-1)
  </select>
  <select id="findCountByMenuId" parameterType="java.lang.Integer" resultType="int">
     SELECT count (1)
     FROM master_data.t_master_content mc LEFT JOIN master_data.t_application_reiew ar ON mc.id=ar.master_id
     where mc.menu_id=#{menuId,jdbcType=INTEGER}
  </select>
  <select id="findExMasterData" parameterType="java.lang.Integer" resultType="map">
     SELECT a.id,b.code,b.content_name,b.description,
      CASE WHEN b.effect=0 THEN '有效' WHEN b.effect=1 THEN '无效' ELSE CAST(b.effect as VARCHAR(11)) END as effect,
      c.name zsjname,d.name zsjkname,to_char(a.create_time,'yyyy-mm-dd HH24:MI:SS') create_time,a.applicant,a.reason
      FROM master_data.t_application_reiew a LEFT JOIN master_data.t_master_content b ON a.master_id=b.id
      LEFT JOIN master_data.t_menu c ON b.menu_id=c.ID
      LEFT JOIN master_data.t_menu d ON c.pa_id=d.id
      WHERE a.status=#{status}
      order by a.id
      limit #{limit} offset #{limit}*(#{page}-1)
  </select>
  <select id="findExMasterDataCount"  resultType="int">
      SELECT count (1)
      FROM master_data.t_application_reiew a LEFT JOIN master_data.t_master_content b ON a.master_id=b.id
      LEFT JOIN master_data.t_menu c ON b.menu_id=c.ID
      LEFT JOIN master_data.t_menu d ON c.pa_id=d.id
     where  a.status=#{status}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_master_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_master_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thunisoft.pojo.MasterContent" useGeneratedKeys="true" keyProperty="id">
    insert into master_data.t_master_content (menu_id,code,
      content_name, description, effect,creator )
    values (#{menuId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
      #{contentName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{effect,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thunisoft.pojo.MasterContent">
    insert into t_master_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="contentName != null">
        content_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="effect != null">
        effect,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="contentName != null">
        #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="effect != null">
        #{effect,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thunisoft.pojo.MasterContent">
    update t_master_content
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="contentName != null">
        content_name = #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="effect != null">
        effect = #{effect,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thunisoft.pojo.MasterContent">
    update t_master_content
    set menu_id = #{menuId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      content_name = #{contentName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      effect = #{effect,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>
