<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thunisoft.dao.SysRegistryMapper" >
  <resultMap id="BaseResultMap" type="com.thunisoft.pojo.SysRegistry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="sys_desc" property="sysDesc" jdbcType="VARCHAR" />
    <result column="sys_ip" property="sysIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_code, sys_name, sys_desc, sys_ip, to_char(create_time,'yyyy-mm-dd hh:MM:ss') create_time, to_char(update_time,'yyyy-mm-dd hh:MM:ss') update_time
  </sql>
  <select id="selectObject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from master_data.t_sys_registry
    order by id
    LIMIT #{pageSize} OFFSET  (#{pageNum}-1)*#{pageSize}
  </select>
  <select id="selectXtCount" resultType="Integer">
    select count(*)
    from master_data.t_sys_registry
  </select>
  <select id="selectLogObject" resultType="map">
    SELECT b.id,b.code,b.conent_name,b.description,
    CASE WHEN b.effect=0 THEN '有效' WHEN b.effect=1 THEN '无效' ELSE CAST(b.effect as VARCHAR(11)) END as effect,
    c.name zsjname,d.name zsjkname,to_char(a.create_time,'yyyy-mm-dd HH:MM:ss') create_time,a.applicant,a.reason,
    CASE WHEN a.status=0 THEN '待审核' WHEN a.status=1 THEN '通过' WHEN a.status=2 THEN '不通过' ELSE CAST(a.status as VARCHAR(11)) END as status,
    a.audit_optnion,to_char(a.review_time ,'yyyy-mm-dd HH:MM:ss') review_time
    FROM master_data.t_application_reiew a LEFT JOIN master_data.t_master_content b ON a.master_id=b.id
    LEFT JOIN master_data.t_menu c ON b.menu_id=c.ID
    LEFT JOIN master_data.t_menu d ON c.pa_id=d.id
    order by a.create_time
    LIMIT #{pageSize,jdbcType=INTEGER} OFFSET  (#{currentPage,jdbcType=INTEGER}-1)*#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="selectCountPagesize" resultType="Integer">
    SELECT count(*)
    FROM master_data.t_application_reiew a LEFT JOIN master_data.t_master_content b ON a.master_id=b.id
    LEFT JOIN master_data.t_menu c ON b.menu_id=c.ID
    LEFT JOIN master_data.t_menu d ON c.pa_id=d.id
  </select>
  <!--(#{pageNum,jdbcType=INTEGER}-1)* #{pageSize,jdbcType=INTEGER}-->
  <!--/*LIMIT #{pageSize} OFFSET  (#{pageNum}-1)*#{pageSize}*/-->
  <select id="selectCount" resultType="Integer">
    select count(1)
    from master_data.t_sys_registry
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_registry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from master_data.t_sys_registry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thunisoft.pojo.SysRegistry" >
    insert into master_data.t_sys_registry (sys_code, sys_name,
      sys_desc, sys_ip
      )
    values (#{sysCode,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR},
      #{sysDesc,jdbcType=VARCHAR}, #{sysIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thunisoft.pojo.SysRegistry" >
    insert into t_sys_registry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysCode != null" >
        sys_code,
      </if>
      <if test="sysName != null" >
        sys_name,
      </if>
      <if test="sysDesc != null" >
        sys_desc,
      </if>
      <if test="sysIp != null" >
        sys_ip,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null" >
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysDesc != null" >
        #{sysDesc,jdbcType=VARCHAR},
      </if>
      <if test="sysIp != null" >
        #{sysIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thunisoft.pojo.SysRegistry" >
    update t_sys_registry
    <set >
      <if test="sysCode != null" >
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null" >
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysDesc != null" >
        sys_desc = #{sysDesc,jdbcType=VARCHAR},
      </if>
      <if test="sysIp != null" >
        sys_ip = #{sysIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thunisoft.pojo.SysRegistry" >
    update master_data.t_sys_registry
    set sys_code = #{sysCode,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      sys_desc = #{sysDesc,jdbcType=VARCHAR},
      sys_ip = #{sysIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>