<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thunisoft.dao.TCodeSfMapper">
  	
  	<select id="getCode" resultType="String">
  		select c_code c from db_zmq.t_code_sf where c_name=#{name}
  	</select>
  	
  	<select id="getName" resultType="String">
  		select c_name c from db_zmq.t_code_sf where c_code=#{mapid}
  	</select>
</mapper>