html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    min-width: 800px;
    min-height: 600px;
}

.login-header{
    flex:1;
    height: 10%\9;
    height: 100px;
}

.login-header>section{
    height:100%;
}

.login-header>section>div{
    position: relative;
    padding-left: 75px;
    background-color: #426FBD;
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}


.login-header>section>div>img{
    max-width: 470px;
    max-height: 109px;
    float: right;
    height: 100px;
}

img.left{
    float: left!important;
}

.login-body{
    flex:7;
    height: 80%\9;
}

.login-body>.login-form{
    position: relative;
    width:100%;
    height:100%;
}

.login-body>.login-form>.form{
    position: absolute;
    display: flex;flex-direction: column;
    width: 256px;
    height: 160px;
    top:45%;
    left:55%;
    background-image: url(/images/loginbg.png);
    background-repeat: no-repeat;
}

#login-error{
    position: absolute;
    bottom: -30px;
    left: 25px;
}

#login-error>.error-icon{
    width: 15px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(/images/login_icon.png) no-repeat left top;
}

#login-error>span{
    font-size: 12px;
}

.login-input{
    height: 38px;
    width: 80%;
    margin-left: 50px;
    margin-bottom: 22px;
    margin-bottom: 21px\9;
    border-style: none;
    font-size: 18px;
}

.login-input:focus{
    outline:none;
}

.login-button{
    width:100%;
    height: 40px;
    background-color: #339E96;
    border-style: none;
    cursor: pointer;
    font-size: 1em;
}

.login-footer{
    flex:1;
    height: 10%\9;
}

.login-footer>section{
    width:100%;
    height:100%;
}

.login-footer>section>div{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    margin: auto;
    text-align: center;
    background-color: #426FBD;
}

.login-footer>section>div>span{
    color: #ffffff;
    margin-top: 10px;
}
