<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/index.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">主数据管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="load()">列表一</a></dd>
                        <dd><a href="javascript:;" onclick="test()">列表二</a></dd>
                        <dd><a href="javascript:;" id="toxtzc">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">云市场</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="context">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
        <div style="margin-bottom: 10px;margin-left: 30px">
            <button class="layui-btn layui-btn-sm">增加</button>
        </div>
        <div style="padding-left: 30px">
            <table id="tab" class="psy-table">
               <tr class="psy-thd">
                    <th>序号</th>
                    <th>系统标识</th>
                    <th>系统名称</th>
                    <th>系统描述</th>
                    <th>系统IP</th>
                    <th>注册时间</th>
                    <th>操作</th>
               </tr>
                <tr class="psy-tr">
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th><button class="layui-btn layui-btn-sm">修改</button>&nbsp&nbsp&nbsp<button class="layui-btn layui-btn-sm">删除</button></th>
                </tr>
                <tr class="psy-tr">
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th><button class="layui-btn layui-btn-sm">修改</button>&nbsp&nbsp&nbsp<button class="layui-btn layui-btn-sm">删除</button></th>
                </tr>
                <tr class="psy-tr">
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th><button class="layui-btn layui-btn-sm">修改</button>&nbsp&nbsp&nbsp<button class="layui-btn layui-btn-sm">删除</button></th>
                </tr>
            </table>
        </div>
        <div id="page" class="page-aaa"></div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
       主数据管理@2018.10
    </div>
</div>

<script src="/jquery-1.8.3.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/index.js"></script>
<script src="/js/table.js"></script>
<script>
    //JavaScript代码区域
    layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
            type:1,
            title:'提示',
            closeBtn:'1',
            bthAlign:'c',
            area:['650px','300px'],
            align:'center',
            shadeClose:true,
            content:'<div id="contextMessage" style="text-align: center">\n' +
                '    <div style="margin-bottom: 10px;font-size: 16px">系统标识:<input type="text" class="yayui-input" autocomplete="off"></div>\n' +
                '    <div style="margin-bottom: 10px;font-size: 16px">系统名称:<input type="text" class="yayui-input" autocomplete="off"></div>\n' +
                '    <div style="margin-bottom: 10px;font-size: 16px">系统描述:<input type="text" class="yayui-input" autocomplete="off"></div>\n' +
                '    <div style="margin-bottom: 10px;font-size: 16px">系统IP:<input type="text" class="yayui-input" autocomplete="off"></div>\n' +
                '</div>',
            btn:['确定','清空'],
            yes:function(index,layero) {
                alert(index+layero)
            },
            btn2:function() {
                alert(1)
            }
        })
    });
</script>
</body>
<div id="contextMessage" style="text-align: center;display: none">
    <div class="layui-form-item center" style="width: 371px;margin: auto;margin-bottom: 10px;">
        <label class="layui-form-label" style="width: 100px" >系统标识</label>
        <div class="layui-input-block">
            <input type="text" name="name" required value="" style="width: 240px" lay-verify="required" placeholder="请输入系统标识" autocomplete="off" class="layui-input" id="xtbs">
        </div>
    </div>
    <div class="layui-form-item" style="width: 371px;margin: auto;margin-bottom: 10px;">
        <label class="layui-form-label" style="width: 100px">系统名称</label>
        <div class="layui-input-block">
            <input type="text" name="type" required style="width: 240px" lay-verify="required" placeholder="请输入系统名称" autocomplete="off" class="layui-input" id="xtmc">
        </div>
    </div>
    <div class="layui-form-item" style="width: 371px;margin: auto;margin-bottom: 10px;">
        <label class="layui-form-label" style="width: 100px">系统描述</label>
        <div class="layui-input-block">
            <input type="text" name="value" required style="width: 240px" lay-verify="required" placeholder="请输入系统描述" autocomplete="off" class="layui-input" id="xtms">
            <!-- <input type="hidden" name="id" style="width: 240px" autocomplete="off" class="layui-input"> -->
        </div>
    </div>
    <div class="layui-form-item" style="width: 371px;margin: auto;margin-bottom: 30px;">
        <label class="layui-form-label" style="width: 100px">系统IP</label>
        <div class="layui-input-block">
            <input type="text" name="value" required style="width: 240px" lay-verify="required" placeholder="请输入系统IP" autocomplete="off" class="layui-input" id="xtip">
            <!-- <input type="hidden" name="id" style="width: 240px" autocomplete="off" class="layui-input"> -->
        </div>
    </div>
    <div class="layui-form-item">
        <div>
            <button class="layui-btn" lay-submit lay-filter="save" id="savebutton">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="resetBtn" >重置</button>
        </div>
    </div>
</div>
</html>