<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主数据管理平台</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/index.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header index-header">
        <div class="layui-logo logo-title"></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul id="tab">
            <li data-pid="0" class="tab-item">
                <img class="ie9-img" src="/images/master_data.png">
                <a class="ie9-a" href="/menu/data?pId=0">主数据</a>
            </li>
            <li data-pid="-3" class="tab-item" th:style="${session.user.type eq 0}? '':'display:none'">
                <img class="ie9-img" src="/images/resolve.png">
                <a class="ie9-a" href="/menu/data?pId=-3">审核</a>
            </li>
            <li data-pid="-2" class="tab-item">
                <img class="ie9-img" src="/images/log.png">
                <a class="ie9-a" href="/menu/data?pId=-2">日志</a>
            </li>
            <li data-pid="-1" class="tab-item" th:style="${session.user.type eq 0}? '':'display:none'">
                <img class="ie9-img" src="/images/setting.png">
                <a class="ie9-a" href="/menu/data?pId=-1">设置</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right"  style="padding:0;display: flex">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/images/userImg.jpg" class="layui-nav-img">
                    <p th:text="${session.user.userName}" style="display: inline;">[...]</p>
                </a>
            </li>
            <li class="layui-nav-item" style="float: right\9;">
                <a id="exit" href="/loginOut">
                    <img src="/images/exit.png">
                    <span>退出</span>
                </a>
            </li>
        </ul>
    </div>

    <!--左边导航-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!--左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test" style="padding:0 !important">
                <li class="layui-nav-item layui-nav-itemed" th:each="menu:${menuList}">
                    <a href="javascript:;" >
                        <img th:src="${menu.iconUrl}"/>
                        <span th:text="${menu.name}"></span>
                    </a>
                    <dl class="layui-nav-child" th:each="child:${menu.childMenus}">
                        <dd class=""><a style="padding-left: 40px;" href="javascript:void(0)"  onclick="loadXMLDoc(this)" th:text="${child.name}" th:menu-id="${child.id}" th:value="${child.url}"></a></dd>
                    </dl>

                </li>
            </ul>

        </div>
    </div>
    <div id="iframe">
    <!--内容主题不符-->
    <iframe class="layui-body" src="/menu/homePage" frameborder="0" id="fd-page-setting" style="height: 770px;width: 100%;background-color: #fff"></iframe>
    </div>

    <div class="layui-footer" style="text-align: center">
        <!-- 底部固定区域 -->
        主数据管理平台 @2018.10
    </div>
</div>

<script src="/jquery-1.8.3.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/index.js"></script>
<script src="/js/table.js"></script>
<!--[if It ie 9]><!-->
<script>
    if (/*@cc_on!@*/false) {
        $(".ie9-img,.ie9-a").addClass("transform");
    }
</script>
<!--<![endif]-->
<script>

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    //切换tab选项卡下划线
    (function(){
        $("#tab>li").bind('click',function(){
            $(this).focus();
            window.location = "/menu/data?pId=" + $(this).attr('data-pid');
        });

        var tabConfig = {
            '0':0,
            '-3':1,
            '-2':2,
            '-1':3
        }
        var length = this.location.href.split("?").length;
        var tab = length>1 ? this.location.href.split("?")[1].split("=")[1] : 0;
        var tabChildren = $('#tab').children();
        for(var i=0;i<tabChildren.length;i++) {
            tabChildren[tabConfig[tab]].className = "tab-item";
        }
        tabChildren[tabConfig[tab]].className = "tab-item tab-focus";
    })();

    /*右侧页面局部刷新*/
    function loadXMLDoc(e) {
        var url=$(e).attr('value')+"?menuId="+$(e).attr("menu-id");
        $('#fd-page-setting').attr('src',url);
        $(this).addClass('layui-this').siblings().removeClass('layui-this');
    }
</script>
</body>

</html>
