<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="/jquery-1.8.3.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/loginform.js"></script>
</head>
<body>
heool
<table class="layui-hide" id="test"></table>
<div id="laypage"></div>
<!--<div style="padding-left: 30px">
    <table class="psy-table" id="log-table">
        <tr class="psy-thd">
            <th>序号</th>
            <th>系统标识</th>
            <th>系统名称</th>
            <th>系统描述</th>
            <th>系统IP</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
    </table>
</div>
<div class="layui-card-footer" style="text-align: left;padding-left:30px;padding-left: 30px;">
    <div id="log-pagination"></div>
</div>-->
</body>

</html>