<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主数据管理平台</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="/jquery-1.8.3.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/loginform.js"></script>
</head>
<body>
<div style="margin-top:35px;margin-bottom: 10px;margin-left: 30px;">
    <table class="layui-hide" id="log-table"></table>
    <div id="log-laypage"></div>
</div>
</body>

</html>