<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>主数据管理平台</title>
    <script src="/jquery-1.8.3.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/master-data.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
</head>
<body>
<div style="margin-bottom: 10px;margin-left: 30px;margin-top: 35px">
    <table class="layui-hide" id="fd-data-examine" lay-filter="fd-examine"></table>
</div>
</body>
<script type="text/html" id="pg-examine">
    <button class="layui-btn layui-btn-sm" lay-event="pass">通过</button>&nbsp&nbsp&nbsp<button class="layui-btn layui-btn-sm" lay-event="noPass">不通过</button>
</script>

</html>