<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>主数据管理平台</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">

</head>
<body>
<div th:style="${session.user.type eq 2}? 'margin-top:35px;margin-bottom: 10px;margin-left: 30px;':'margin-top:10px;margin-bottom: 10px;margin-left: 30px;'">
    <input type="hidden" name="menuId" id="pg-menu-id-add" th:value="${menuId}">
    <div th:if="${session.user.type} ne '2'">
        <button class="layui-btn layui-btn-sm" id="pg-add-master-data">增加</button>
    </div>
    <table class="layui-hide" id="fd-master-data"></table>
</div>
</body>

<script src="/jquery-1.8.3.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/master-data.js"></script>

</html>