<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主数据管理平台</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/index.css">

</head>
<body>
<form class="layui-form" id="permissionInsert">
<div id="contextMessage123" style="text-align: center;margin-top: 15px">
    <div class="layui-form-item center" style="width: 371px;margin: auto;margin-bottom: 10px;">
        <label class="layui-form-label" style="width: 60px" >用户名</label>
        <div class="layui-input-block">
            <input type="text" name="name" required th:value="${permission.userName}" style="width: 240px" lay-verify="required|username" placeholder="请输入用户名" autocomplete="off" class="layui-input" id="username">
        </div>
    </div>
    <div class="layui-form-item" style="width: 371px;margin: auto;margin-bottom: 10px;">
        <label class="layui-form-label" style="width: 60px">密码</label>
        <div class="layui-input-block">
            <input type="text" name="type" required th:value="${permission.password}" style="width: 240px" lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input" id="password">
        </div>
    </div>
    <div class="layui-form-item" style="width: 371px;margin: auto;margin-bottom: 10px;">
        <label class="layui-form-label" style="width: 60px">角色</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="aihao" lay-verify="required" style="width: 240px;height: 38px; float: left;" id="type" >
                <option value="">请选择类型</option>
                <option th:selected="${permission.type == 2}" value="2">数据查看</option>
                <option th:selected="${permission.type == 1}" value="1">数据维护</option>
                <option th:selected="${permission.type == 0}" value="0">数据审核</option>
            </select>
        </div>
        <!--<div class="layui-input-block">
            <input type="text" name="value" required th:value="${permission.type}" style="width: 240px" lay-verify="required" placeholder="请选择类型" autocomplete="off" class="layui-input" id="type">

        </div>-->
        <input type="hidden" name="id" id="id" th:value="${permission.id}" style="width: 240px" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item" style="margin-top: 30px">
        <div>
            <button class="layui-btn" lay-submit lay-filter="save">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="resetBtn" onclick="resetBtn()">重置</button>
        </div>
    </div>
</div>
</form>

</body>

<script src="/jquery-1.8.3.js"></script>
<script src="/layui/layui.js"></script>
<script th:inline="javascript" src="/js/permissionInsert.js"></script>

</html>