<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery-1.8.3.js"></script>
    <script src="/xtzc.js"></script>
</head>
<body>
<div style="margin-bottom: 10px;margin-left: 30px;margin-top: 10px">
    <button class="layui-btn layui-btn-sm" id="xt-add">增加</button>
</div>
<div style="padding-left: 30px">
    <table class="psy-table">
        <tr class="psy-thd">
            <th>序号</th>
            <th>系统标识</th>
            <th>系统名称</th>
            <th>系统描述</th>
            <th>系统IP</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        <tbody id="tbody1">

        </tbody>
    </table>
</div>
<div class="layui-card-footer" style="text-align: left;padding-left:30px;padding-left: 30px;">
    <div id="pagination"></div>
</div>
</body>

</html>