<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery-1.8.3.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/xtzc.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script>
        var currentPage = 1;
        var pageSize = 10;
    </script>
</head>
<body>
<div style="margin-bottom: 10px;margin-left: 30px;margin-top: 10px">
    <button class="layui-btn layui-btn-sm" id="xt-add">增加</button>
</div>
<div style="padding-left: 30px;">
    <table class="layui-hide" id="xtzc-table" lay-filter="test"></table>
    <div id="xtzc-laypage"></div>
</div>
</body>
<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-sm xt-update" lay-event="detail">修改</button>
    &nbsp&nbsp&nbsp
    <button class="layui-btn layui-btn-sm" lay-event="del">删除</button>
</script>

</html>